@font-face {
    font-family: Avenir-Book;
    src: url('../fonts/Avenir/AvenirLTStd-Book.otf'); 
}
@font-face {
    font-family: Avenir-Light;
    src: url('../fonts/Avenir/AvenirLTStd-Light.otf'); 
}

.cont{
margin:0px;


}
.left{
  background-image: url('../imgs/pic.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  
  padding-top: 80px;
  padding-bottom: 80px;
  /*color: white;*/
  font-weight:bold;
}
.left h2{
  font-size: 4.5em;
}
.rght{
  padding-left:0px; 
  padding-right:0px; 
  /*background-image: url('../imgs/pic.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  font-weight:bold;
}
.rght div{
  padding-left: 50px;
  padding-bottom: 15px;
}
.rght div p{
  font-size: 12px;
  font-weight: normal;
  padding-left: 42px
}
.rght div a{
  color: white;
  text-decoration: none;
  padding-left: 30px;

}
.rw{
  padding-top: 11%;
  background-repeat: no-repeat;
  background-size: cover;
}
.rw1{

  background-image: url('../imgs/image2.jpg');
  position: relative;
  overflow: hidden;
}
.rw2{
  background-image: url('../imgs/resume_btn.jpg'); 
  
}
.rw3{
  background-image: url('../imgs/atwork.jpg'); 
}
.rw4{
  background-image: url('../imgs/contact_btn.jpg');   
}
.row .btn1{
  text-decoration: none;
  font-size: 25px;
  /*margin:0px; */
}
.rw1 .fa{
  background: rgba(256, 256, 256, 0.2); 
}
